@font-face {
  font-family: "NectoMono";
  src: url("../../font/NectoMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Neutronic";
  src: url("../../font/NeutronicHangeul-Regularv0.3.woff2") format("woff2");
}
@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Gothic+A1:wght@500;700;900&family=Poppins:wght@800&display=swap");

* {
  font-family: "Gothic A1", sans-serif;
}

.subtitle {
  font-family: "Neutronic", sans-serif;
  font-size: 1em;
  color: rgb(77, 77, 77);
  font-weight: 800;
  position: absolute;
  z-index: 1;
}
::-webkit-scrollbar {
  height: 15px;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  /* box-shadow: inset 0 0 5px rgb(167, 167, 167); */
  border-radius: 2px;
  border-right: 10px solid rgb(85, 85, 85);
  border-left: 10px solid rgb(85, 85, 85);
  background-image: url(../../imgs/scroll_bg.png);
  background-size: contain;
  /* border-bottom: 5px solid rgb(96, 96, 96);
  border-top: 5px solid black; */
}

::-webkit-scrollbar-thumb:hover {
  background: #bfff00;
}
/*  *  *  *  *  *  *  *  *  */

/*  *  *  *  *  CtrA  *  *  *  *  */
.CtrA {
  grid-area: CtrA;
  background-color: #595959;
  display: grid;
  grid-template-rows: 0.7fr 1.2fr; /*  0.7fr 2.2fr 복구 */
  gap: 0px 0px;
  grid-template-areas:
    "Decade"
    "Character";
}
/*  *  *  *  *  Decade  *  *  *  *  */
.DecadeSection {
  /* border: 2px solid tomato; */
  margin: 5px 5px 5px 70px;
  position: relative;
}

.DecadeSection .subtitle {
  background-color: rgb(180, 180, 180);
  color: rgb(50, 50, 50);
  font-weight: 800;
  top: -20px;
  left: -64px;
  padding: 4px 15px 4px 4px;
  border-radius: 6px;
}

.Decades {
  z-index: 9;
}
.DecadeWrap {
  width: 100%;
  margin: 0px 4px;
  border-radius: 0px 5px 5px 5px;
  display: flex;
  background-color: rgb(0, 0, 0);
  padding: 2px;
  border: 7px solid rgb(180, 180, 180);
}
.DecadeWrapInner {
  width: 100%;
  margin: 0px;
  display: flex;
  background-color: rgb(130, 130, 130);
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 10px;
  justify-content: center;
}
.Decade {
  width: 36px;
  height: 36px;
  position: relative;
  margin: 2px 2px 23px 2px;
  background: linear-gradient(to bottom, #484848 0%, #525252 40%, #3d3d3d 100%);
  /* box-shadow: inset 0px 1px 1px #d4d4d4, 0px 1px 3px rgba(0, 0, 0, 0.5); */
}
.Decade .Param {
  font-size: 0.8em;
  font-weight: 800;
  padding: 1px 4px 0px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgb(151, 151, 151);
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
.DecadeLabel {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: 6px;
  cursor: pointer;
  background: linear-gradient(to bottom, #333333 0%, #464646 40%, #454545 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgb(167, 167, 167);
}
.DecadeLabel:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #bfff00;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.DecadeLabel:hover::after {
  opacity: 0.6;
}
.DecadeInput[type="checkbox"] {
  visibility: hidden;
}
.DecadeInput[type="checkbox"]:checked + label:after {
  opacity: 1;
  animation: flicker 0.2s infinite 0.3s;
}
/*  *  *  *  *  Character  *  *  *  *  */
.CharacterSection {
  grid-area: Character;
  width: 100%;
  height: 100%;
  /* background-color: rgb(80, 80, 80); */
  /* border: 2px solid rgb(0, 0, 0); */
  box-sizing: border-box;
  /* border-radius: 10px; */
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 25px 5px 0px 5px;
}
.CharacterWrap {
  width: 500px;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 6px solid rgb(120, 120, 120);
}

.CharacterSection .subtitle {
  background-color: rgb(120, 120, 120);
  color: rgb(50, 50, 50);
  top: 68px;
  left: 5px;
  position: absolute;
  padding: 4px 4px 20px 4px;
  border-radius: 6px;
}
.Character .Param {
  font-family: "Gothic A1", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.1em;
  padding: 18px 12px 0px;
  text-align: center;
  color: rgb(190, 190, 190);
}
.Character .Scope {
  font-size: 0.7em;
  font-weight: 800;
  padding: 0 4px;
  margin: 4px;
  text-align: center;
  background: rgb(20, 20, 20);
  color: rgb(114, 114, 114);
  border-radius: 5px;
}
.CharacterInput {
  display: none;
}
.CharacterLabel {
  position: relative;
  display: block;
  width: 5.5em;
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
  box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset,
    0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
  transform: rotate(-90deg);
}

.CharacterLabel::after {
  position: absolute;
  content: "";
  width: 2em;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
  border-radius: 50%;
  transition: 250ms ease-in-out;
  background: linear-gradient(#f5f5f5 10%, #eeeeee);
  box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset,
    0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
}

.CharacterLabel::before {
  position: absolute;
  content: "";
  width: 4em;
  height: 1.5em;
  top: 0.75em;
  left: 0.75em;
  border-radius: 0.75em;
  transition: 250ms ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)),
    #d0d0d0;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
    0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
    0 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .CharacterLabel::before {
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
    0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
    3em 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .CharacterLabel::after {
  left: 3em;
}

/*  *  *  *  *  CtrB  *  *  *  *  */
.CtrB {
  grid-area: CtrB;
  background-color: rgb(47, 47, 47);
  padding: 5px 5px 5px 5px;
  position: relative;
}

.CtrB .subtitle {
  background-color: rgb(120, 120, 120);
  color: rgb(50, 50, 50);
  font-weight: 800;
  top: -20px;
  left: 5px;
  padding: 4px 4px 14px 4px;
  border-radius: 6px;
}

.Keyword .Scope {
  font-size: 0.7em;
  font-weight: 800;
  padding: 0 4px;
  margin: 4px;
  text-align: center;
  background: rgb(20, 20, 20);
  color: rgb(114, 114, 114);
  border-radius: 5px;
}
.Keyword .Param {
  color: yellow;
}
.KeywordSection {
  width: 100%;
  height: 285px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 25px 5px 0px 5px;
}
.KeywordWrap {
  width: 500px;
  height: 253px;
  background-color: black;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 6px solid rgb(120, 120, 120);
}

.KeywordSection .subtitle {
  background-color: rgb(120, 120, 120);
  color: rgb(50, 50, 50);
  font-weight: 800;
  top: -20px;
  left: -64px;
  padding: 4px 8px 4px 4px;
  border-radius: 6px 0px 0px 6px;
}
.Keyword .Param {
  font-family: "Gothic A1", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.1em;
  padding: 18px 12px 0px;
  text-align: center;
  color: rgb(190, 190, 190);
}
.Keyword .Scope {
  font-size: 0.7em;
  font-weight: 800;
  padding: 0 4px;
  margin: 4px;
  text-align: center;
  background: rgb(20, 20, 20);
  color: rgb(114, 114, 114);
  border-radius: 5px;
}
.KeywordInput {
  display: none;
}
.KeywordLabel {
  position: relative;
  display: block;
  width: 5.5em;
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
  box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset,
    0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
  transform: rotate(-90deg);
}

.KeywordLabel::after {
  position: absolute;
  content: "";
  width: 2em;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
  border-radius: 50%;
  transition: 250ms ease-in-out;
  background: linear-gradient(#f5f5f5 10%, #eeeeee);
  box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset,
    0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
}

.KeywordLabel::before {
  position: absolute;
  content: "";
  width: 4em;
  height: 1.5em;
  top: 0.75em;
  left: 0.75em;
  border-radius: 0.75em;
  transition: 250ms ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)),
    #d0d0d0;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
    0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
    0 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .KeywordLabel::before {
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
    0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
    3em 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .KeywordLabel::after {
  left: 3em;
}
